@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Diplomata+SC');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');



* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
header {
  max-width: 1900px;
  margin: 0 auto;
}
main {
  max-width: 1900px;
  margin: 0 auto;
}
.top-header {
  display: flex;
}
.top-header .american-flag {
  display: inline-block;
  width: 300px;
  height: 100px;
}
.top-header .american-flag img {
  width: 100%;
  height: 100%;
}

.top-header .title-box {
  display: inline-block;
  flex-grow: 2;
  text-align: center;
  text-transform: uppercase;
}
.top-header {
  background: linear-gradient(rgba(255, 255, 255, 255.6), rgba(255, 255, 255, 0.6)), url(images/fireworks-bg.jpg) no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.title-box h1 {
  margin: 0;
  font-size: 2.5rem;
  color: red;
  text-shadow: 1px 1px 3px black;
}
.title-box h2 {
  margin: 10px 0 0 0;
  font-size: 1.7rem;
  color: #0000b2;
  text-shadow: 1px 1px 3px white;
}

.top-header .profile-photo {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-photo:hover {
  opacity: 0.7;
  border: 3px solid #ff593f;
}
.top-header .profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header-menu {
  height: 55px;
  background-color: #cceeff;
  border-radius: 5px;
  color: #a50000;
}
.header-menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.header-menu-item {
  flex-grow: 1;
  list-style: none;
  padding: 15px 40px;
  text-align: center;
  height: 100%;
  cursor: pointer;
}

.header-menu-item a {
  text-decoration: none;
  font-size: 1.3rem;
  font-family: 'Lato', sans-serif;
  color: #a50000;
}
.header-menu-item:hover {
  background-color: #008da5;
}
.header-menu-item:hover a {
  color: #ffffff;
}

/* Articles */
section.articles {
  width: 70%;
  display: inline-block;
}

.articles article {
  min-height: 300px;
  margin-top: 20px;
  margin-bottom: 40px;
  /*background-color: #ffeded;*/
}
.articles article a {
  text-decoration: none;
  color: inherit;
}
.articles article a:hover *{
  text-decoration: underline;
}
.articles article:after {
  content: '\00a0';
  background-image: radial-gradient(at 50% 0, blue 0%, red 50%, transparent 75%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  float:left;
  width:100%;
}

.article-header {
  align-content: center;
  height: 30%;
  /*background-color: #f5a5a2;*/
  max-height: 150px;
}
.article-picture {
  width: 40%;
  height: 100%;
  display: inline-block;
}
.article-picture img {
  max-height: 150px;
}

.article-title {
  height: 100%;
  width: 60%;
  display: inline-block;
  float: right;
  padding: 10px;
  word-break: break-all;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.article-title h1 {
  font-size: 2.5rem;
}
.article-content p {
  font-size: 1.6rem;
}
.article-content p:first-letter {
  font-size: 3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #e50000;
}
.article-picture img {
  width: 100%;
  height: 100%;
}

.article-content {
  height: 70%;
  padding-left: 10px;
}

/* My Courses */

section.my-courses {
  width: 29%;
  max-width: 400px;
  display: inline-block;
  float: right;
  text-align: center;
  height: 400px;
  font-family: 'Lato', sans-serif;
}
.courses {
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  border: 2px solid #d90000;
}
.courses a {
  color: inherit;
  text-decoration: none;
}
.course-box {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background-color: #fceceb;
  text-shadow: 1px 1px 5px white;
}

.course-boxes-wrapper a:nth-child(even) .course-box {
  background-color: #f5cfcd;
}

.course-boxes-wrapper a .course-box:hover {
  background-color: #f5a5a2;
}

.courses-header {
  width: 100%;
  text-transform: uppercase;
  display: inline-block;
  background-color: #d90000;
  color: #ffffff;
}
.course-box p {
  display: inline-block;
  flex-grow: 1;
  width: 80%;
  overflow-wrap: break-word;
  text-transform: capitalize;
}
.course-box-link {
  font-size: 20px;
  margin-left: 5px;
  text-align: right;
  width: 10%;
}


/* Partners */
.wrapper {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  height: 90%;
}

.p-header {
  position: relative;
  padding: 40px 15px 75px;
  background-image: url(images/business-partners.jpg);;
  background-color: #192431;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  height: 900px;
}

.p-header-content {
  position: relative;
  z-index: 20;
  display: inline-block;
  max-width: 1170px;
  margin: 0 auto;
}
.partners-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partner-box {
  border: 3px solid red;
  width: 306px;
  height: 206px;
  margin-bottom: 40px;
  background: #ffffff;
  transition: all .2s ease-in-out;
}

.partner-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 50px red;
}

.partner-box img {
  width: 300px;
  height: 200px;
}

.p-header-separator::before, .staff-header-separator::before {
  content: '';
  background-color: #f5133f;
  width: 640px;
  height: 3px;
  margin: 15px auto 25px;
  border: none;
  display: inline-block;
}
.p-header-lead, .staff-title-lead {
  font-size: 1.4rem;
  margin-bottom: 0px;
}
.p-header-separator, .staff-header-separator {
  margin-bottom: 50px;
}
.p-header:after {
  background-color: #192431;
  opacity: .8;
  top: 0;
  right: 0;
  z-index: 10;
  content: '';
}

h1.p-header-title, h1.staff-title {
  font-size: 4rem;
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  text-transform: capitalize;
  margin-bottom: 3px;
}

.p-header::after, .p-header-bottom {
  bottom: 0;
  left: 0;
  position: absolute;
  content: '';
}
.p-header-bottom {  /* The white bar under the partners header*/
  width: 70%;
  height: 35px;
  background-color: #fff;
  z-index: 30;
}
.p-header-bottom::after {  /* The smooth transition from the white bar to the partners header*/
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 45px;
  height: 35px;
  right: -45px;
  background-image: url("images/our-partners-white-triangle-annexation.svg");
}

.staff-wrapper::before, .staff-wrapper-bottom {
  top: -1px;
  right: 0;
  position: absolute;
  content: '';
}
.staff-wrapper-bottom {  /* The white bar under the partners header*/
  width: 70%;
  height: 35px;
  background-color: #fff;
  z-index: 30;
}
.staff-wrapper-bottom::before {  /* The smooth transition from the white bar to the partners header*/
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 45px;
  height: 35px;
  left: -40px;
  background-image: url("images/our-staff-white-triangle-annexation.svg");
}
/* Staff */


.staff {
  display: block;
}

.staff-wrapper {
  position: relative;
  padding: 40px 15px 75px;
  background-image: url(images/staff.jpg);;
  background-color: #192431;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  height: 700px;
}

.staff-wrapper:after {  /* hack for opacity */
  bottom: 0;
  left: 0;
  position: absolute;
  content: '';
  background-color: #192431;
  opacity: .85;
  top: 0;
  right: 0;
  z-index: 10;
}
.staff-title-lead:first-of-type {
  margin-top: 100px;
}

.staff-content {
  position: relative;
  z-index: 20;
}
.staff-wrapper >  h1 {
  text-align: center;
  font-size: 3rem;
}
.people {
  margin: 40px auto;
  display: flex;
  width: 70%;
  height: 200px;
  overflow: hidden;
  flex-direction: row;
}
.teacher {
  display: inline-block;
  width: 210px;
}
.teacher img {
  border: 3px solid red;
}
.teacher img:hover {
  opacity: 0.9;
  box-shadow: 0 0 50px red;
}

.teacher img {
  width: 300px;
  height: 200px;
}


 .slick-slide {
    margin: 0 27px;
   outline: none;
  }
  /* the parent */
  .slick-list {
    margin: 0 -27px;
  }



footer {
  height: 400px;
}
footer .footer {
  height: 100%;
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-box {
  width: 400px;
  text-align: center;
  height: 100%;
  flex-grow: 1;
  margin-bottom: 50px;
}
.footer-box ul {
  width: 140px;
  margin: 0 auto;
}
.footer-box li  {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.footer-box li a {
    font-size: 1.1rem;

}

.shutter-in {
  background-color: #f5133f;
  display: inline-block;
  transform: perspective(1px);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition: color 0.4s;
}
.shutter-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  transform: scaleX(1);
  transform-origin: 50%;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.shutter-in:hover {
  color: white;
}
.shutter-in:hover:before{
  /* Hides the fakely-original background in the :before element*/
  transform: scaleX(0);
}

.footer-box a {
  text-decoration: none;
  color: inherit;
}

.footer-box .footer-header h1 {
  font-size: 2rem;
}

.footer-box .footer-header i {
  font-size: 2rem;
}

.footer-title-separator {
  content: '';
  background-color: #f5133f;
  width: 140px;
  height: 3px;
  margin: 15px auto 25px;
  border: none;
  display: inline-block;
}



.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
  flex-direction: column;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}