@media all and (max-width: 960px) {
  body #wrapper {
    width: 100%;
  }
}

@media all and (max-width: 780px) {
  body #wrapper > header nav ul {
    display: block;
    text-align: center;
  }
  body #wrapper > header nav ul li {
    width: 120px;
    font-size: 1rem;
  }
}

@media all and (max-width: 640px) {
  body #wrapper > header nav ul li {
     display: block;
    width: 100%;
    margin: 0 auto;
  }

  body #wrapper section {
    width: 100%;
  }
  body #wrapper aside {
    width: 100%;
  }
  body #wrapper aside div {
    width: 50%;
  }
}

@media all and (max-width: 480px) {
  body #wrapper aside div {
    width: 100%;
  }
}