body section article header p {
    font-style: italic;
    font-size: 15px;
}
body section article header {
    font-size: 28px;
}

body section article p {
    font-size: 24px;
}

body {
    padding: 0px;
    margin: 0px;
    background: #CCCCCC;
}
section {
    margin-left: 20px;
}