body {
    font-family: Lato, sans-serif;
}

body nav ul {
    list-style: none;
    padding: 0;
    height: 40px;
    line-height: 30px;
    background-color: #84b3ad;
}

body nav ul li {
    display: inline-block;
    width: 100px;
    margin: 0 5px;
    padding: 5px 0;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
}

body nav ul li a {
    color: rgb(255, 255, 255);
}
body nav ul li:hover {
    background-color: #135e3e;
    padding: 5px 0;
}